<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/style.css">
    <title>SmartPlug</title>
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
        <a class="navbar-brand" href="#"><img class="icon-image" src="./assets/img/plug.png" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">My plugs
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Options</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
              <a class="nav-link p-0" href="#">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                  alt="avatar image" height="35">
              </a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="container mt-4">
      <div class="row d-flex justify-content-center">
        <% if (rpi_data.length > 0) { %>
          <div class="col-md-4">
              <div class="card card-cascade wider">
                <div class="view view-cascade overlay p-5 mb-0">
                  <% if (status == 'prender') { %>
                    <img  class="card-img-top" src="./assets/img/lightbulb_off.png" alt="Card image cap">
                  <% } else { %>
                    <img  class="card-img-top" src="./assets/img/lightbulb_on.png" alt="Card image cap">
                  <% } %>
                </div>
              <div class="card-body card-body-cascade text-center pb-3 p-0">
                  <h4 class="card-title"><strong>Sala de estar</strong></h4>
                  <div class="card-text">
                    <form method="post" action="/">
                      <input id="input-1"  name="accion" class="input-hidden" value=<%= status %>>
                      <button type="button" id="turn-on-off" class="btn btn-amber button-submit">
                          <%= status %>
                      </button>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        <% } %>
        <div class="col-md-4">
            <div class="card card-cascade wider">
              <div class="view view-cascade overlay p-5">
                <img  class="card-img-top" src="./assets/img/lightbulb_on.png" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
             <div class="card-body card-body-cascade text-center pb-3 p-0">
                <h4 class="card-title"><strong>Estufa del cuarto</strong></h4>
                <div class="card-text">
                  <form method="post" action="/">
                    <button type="button" id="turn-on-off-2" class="btn btn-amber button-submit">Apagar</button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

